@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cloud-case1 {
  background-image: url('/assets/images/cloud-case1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.bg-cloud-case2 {
  background-image: url('/assets/images/cloud-case2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

body {
  color: white;
}
